@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,700;1,100&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
  word-wrap: break-word;
}

/* margin de la page
    ____________
    | ________ |
    |m|      |m|
    | |______| |
    |__________|
*/
.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 14px;
  color: #888;
}
.copyright a {
  color: #aaa;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 30px;
  padding: 50px 8vw;
  background: rgb(0, 11, 28);
}
footer li {
  list-style-type: none;
  color: #fff;
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer .titre {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .informations img {
  margin-right: 5px;
}
footer .informations li {
  margin-bottom: 5px;
}
footer .resaux {
  display: grid;
  grid-template-columns: repeat(4, 31px);
  grid-template-rows: 31px;
  gap: 10px;
  justify-content: flex-start;
}
footer .resaux .titre {
  grid-column: 1/span 4;
}
footer .link-abonne {
  height: 45px;
}
footer button {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  width: 100%;
}

.link-abonne {
  z-index: 100;
}

button.abonner {
  background: rgb(186, 2, 2);
  color: #aaa;
}
button.abonner:hover {
  color: #fff;
  background: rgb(237, 0, 0);
}
button.abonner.active {
  background: rgb(104, 104, 104);
  color: rgb(221, 221, 221);
  font-weight: bold;
}
button.abonner.active:hover {
  background: rgb(133, 133, 133);
}

.shadow-add-user {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.632);
  z-index: 2000;
  display: none;
}
.shadow-add-user.active {
  display: block;
}

.add-user {
  position: fixed;
  max-width: 80%;
  min-width: 320px;
  width: 100%;
  height: 80%;
  padding: 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(83, 83, 83, 0.596);
  z-index: 2100;
  display: none;
}
.add-user.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-user .create-count {
  width: 300px;
  min-height: 200px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 40px;
  gap: 10px;
}
.add-user .create-count .icone-add-user {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(10, 194, 10);
  color: #fff;
  transition: 0.5s;
}
.add-user .create-count button:hover {
  background: rgb(4, 133, 4);
  font-weight: bold;
}
.add-user .create-count .icone-user {
  width: 100px;
  height: 100px;
  background: #232227;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count .icone-user img {
  width: 60%;
}
.add-user h2 {
  text-align: center;
  color: #232227;
}
.add-user > p {
  color: #555;
}
.add-user .close-add-user {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(172, 33, 33);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .close-add-user img {
  width: 90%;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 300;
  padding: 0 8vw;
  background: #232227;
  grid-column: 1/span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .bar-menu {
  display: none;
  position: fixed;
  background: #232227;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 3px 3px #000;
  transition: 0.4s;
  z-index: 200000;
}
.navigation .bar-menu .burger {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  z-index: 2000;
}
.navigation .bar-menu .burger::after {
  transform: translateY(-8.5px) rotate(-45deg);
}
.navigation .bar-menu .burger::before {
  transform: translateY(8.5px) rotate(45deg);
}
.navigation .bar-menu.active {
  transform: translateX(0);
}
.navigation .bar-menu .menu-bar {
  padding: 30px 10px 10px 10px;
}
.navigation .bar-menu .menu-bar a {
  text-decoration: none;
  color: #fff;
}
.navigation .bar-menu .menu-bar li {
  position: relative;
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 2px;
  list-style: none;
  color: #fff;
  transition: 0.5s;
}
.navigation .bar-menu .menu-bar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.navigation .bar-menu .menu-bar li:hover {
  background: rgba(0, 0, 0, 0.411);
  font-weight: bold;
}
.navigation .bar-menu .user-bar-menu {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 50px;
  min-height: 200px;
}
.navigation .bar-menu .user-bar-menu::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: #aaa;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .bar-menu .user-bar-menu #deconnecter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/span 2;
}
.navigation .bar-menu .user-bar-menu #deconnecter button {
  min-width: 120px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  background: rgb(131, 216, 4);
}
.navigation .bar-menu .user-bar-menu #isconnected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/span 2;
}
.navigation .bar-menu .user-bar-menu #isconnected .info {
  font-size: 15px;
  color: #fff;
}
.navigation .bar-menu .user-bar-menu #isconnected .mail {
  color: #aaa;
  margin-bottom: 30px;
}
.navigation .bar-menu .user-bar-menu #isconnected button {
  padding: 10px 20px;
  min-width: 230px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
.navigation .bar-menu .user-bar-menu #isconnected .m {
  background: rgb(131, 216, 4);
  margin-bottom: 8px;
}
.navigation .bar-menu .user-bar-menu #isconnected .d {
  background: rgba(180, 1, 1, 0.827);
}
.navigation .bar-menu .user-bar-menu #isconnected .img-user {
  width: 70px;
  height: 70px;
  border: solid 4px #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.647);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.navigation .bar-menu .user-bar-menu #isconnected .img-user img {
  width: 100%;
  height: 100%;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee {
  position: relative;
  width: 117px;
  height: 43px;
  display: grid;
  grid-template-columns: 122px 1fr;
  margin: 10px auto;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee .btn-abonne {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  z-index: 10;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee .nbr-abonnee {
  border: none;
  outline: none;
  background: #dcdcdc;
  color: #9e9e9e;
  border-radius: 4px;
  transform: translateX(-4px);
  padding: 0 8px;
}
.navigation .burger {
  position: relative;
  display: none;
  width: 40px;
  height: 22px;
  cursor: pointer;
}
.navigation .burger::after, .navigation .burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  left: 0;
  background: #fff;
}
.navigation .burger::before {
  top: 0;
}
.navigation .burger::after {
  bottom: 0;
}
.navigation .burger div {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  background: #fff;
}
.navigation .logo {
  width: 70px;
  height: 70px;
}
.navigation .logo img {
  width: 100%;
  height: 100%;
}
.navigation .menu {
  display: flex;
}
.navigation .menu li {
  position: relative;
  list-style-type: none;
  margin: 0 10px;
  padding: 10px 0;
}
.navigation .menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.3s;
}
.navigation .menu li:hover::after {
  width: 100%;
}
.navigation .menu li.active::after {
  width: 100%;
}
.navigation .menu li a {
  text-decoration: none;
  color: #fff;
}
.navigation .abonnees {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .abonnees .btns-abonnee {
  position: relative;
  min-width: 117px;
  height: 43px;
  display: grid;
  grid-template-columns: 122px 1fr;
}
.navigation .abonnees .btns-abonnee .btn-abonne {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  z-index: 10;
}
.navigation .abonnees .btns-abonnee .nbr-abonnee {
  border: none;
  outline: none;
  background: #dcdcdc;
  color: #9e9e9e;
  border-radius: 4px;
  transform: translateX(-4px);
  padding: 0 8px;
}
.navigation .users {
  position: relative;
}
.navigation .users .not-connected {
  position: relative;
}
.navigation .users .not-connected::after {
  content: "!";
  position: absolute;
  padding: 2.5px 5px;
  background: red;
  color: #fff;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  border-radius: 40%;
  transform: translate(30%, 30%);
}
.navigation .users .is-connted {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 4px gold;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation .users .is-connted img {
  width: 55px;
  height: 55px;
}
.navigation .users .userConnected {
  transform: scale(0);
  transition: 0.5s;
}
.navigation .users .userConnected > div {
  position: absolute;
  background: #fff;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .users .userConnected > div button {
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.navigation .users .userConnected #user_1 p {
  color: #555;
  padding: 4px 0;
  text-align: center;
}
.navigation .users .userConnected #user_1 button {
  width: 100%;
  padding: 8px 0;
  color: red;
  text-decoration: underline;
}
.navigation .users .userConnected #user_2 button {
  color: #555;
  transition: 0.5s;
}
.navigation .users .userConnected #user_2 button:hover {
  color: royalblue;
}
.navigation .users:hover .userConnected {
  transform: scale(1);
}

@media screen and (max-width: 1160px) {
  .navigation .menu {
    display: none;
  }
  .navigation .abonnees {
    display: none;
  }
  .navigation .burger {
    display: block;
  }
  .navigation .bar-menu {
    display: block;
    z-index: 1000;
  }
}
header {
  position: relative;
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.7764705882);
  background-repeat: no-repeat;
  background-position-x: -300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  margin-top: 75px;
}
header > .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
header .contente {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .contente h1 {
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.body {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body h2 {
  color: #aaa;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
}

@media screen and (max-width: 880px) {
  header .background {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=blog.css.map */
