@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,700;1,100&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
  word-wrap: break-word;
}

/* margin de la page
    ____________
    | ________ |
    |m|      |m|
    | |______| |
    |__________|
*/
.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 14px;
  color: #888;
}
.copyright a {
  color: #aaa;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 30px;
  padding: 50px 8vw;
  background: rgb(0, 11, 28);
}
footer li {
  list-style-type: none;
  color: #fff;
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer .titre {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .informations img {
  margin-right: 5px;
}
footer .informations li {
  margin-bottom: 5px;
}
footer .resaux {
  display: grid;
  grid-template-columns: repeat(4, 31px);
  grid-template-rows: 31px;
  gap: 10px;
  justify-content: flex-start;
}
footer .resaux .titre {
  grid-column: 1/span 4;
}
footer .link-abonne {
  height: 45px;
}
footer button {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  width: 100%;
}

.link-abonne {
  z-index: 100;
}

button.abonner {
  background: rgb(186, 2, 2);
  color: #aaa;
}
button.abonner:hover {
  color: #fff;
  background: rgb(237, 0, 0);
}
button.abonner.active {
  background: rgb(104, 104, 104);
  color: rgb(221, 221, 221);
  font-weight: bold;
}
button.abonner.active:hover {
  background: rgb(133, 133, 133);
}

.shadow-add-user {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.632);
  z-index: 2000;
  display: none;
}
.shadow-add-user.active {
  display: block;
}

.add-user {
  position: fixed;
  max-width: 80%;
  min-width: 320px;
  width: 100%;
  height: 80%;
  padding: 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(83, 83, 83, 0.596);
  z-index: 2100;
  display: none;
}
.add-user.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-user .create-count {
  width: 300px;
  min-height: 200px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 40px;
  gap: 10px;
}
.add-user .create-count .icone-add-user {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(10, 194, 10);
  color: #fff;
  transition: 0.5s;
}
.add-user .create-count button:hover {
  background: rgb(4, 133, 4);
  font-weight: bold;
}
.add-user .create-count .icone-user {
  width: 100px;
  height: 100px;
  background: #232227;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count .icone-user img {
  width: 60%;
}
.add-user h2 {
  text-align: center;
  color: #232227;
}
.add-user > p {
  color: #555;
}
.add-user .close-add-user {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(172, 33, 33);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .close-add-user img {
  width: 90%;
}

body {
  background: #232227;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.forms {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms .error {
  display: none;
  width: 300px;
  height: 50px;
  background: rgba(255, 0, 0, 0.367);
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.529);
}
.forms .error.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forms .error p {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.forms form {
  width: 300px;
  display: grid;
  grid-template-rows: 70px repeat(3, 50px);
  gap: 10px;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.529);
  border-radius: 5px;
}
.forms form h2 {
  color: rgb(75, 68, 103);
  font-size: 2em;
}
.forms form #div-name, .forms form #div-num {
  border-right: solid 1px rgb(75, 68, 103);
  border-bottom: solid 1px rgb(75, 68, 103);
  border-top: solid 1px rgb(75, 68, 103);
}
.forms form input {
  padding: 0 7px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 290px;
}
.forms form button {
  border: none;
  outline: none;
  background: rgb(11, 197, 11);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.forms form .icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(75, 68, 103);
}
.forms form .icone .svg {
  width: 40%;
}
.forms form p {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 0.9em;
  background: rgb(96, 87, 132);
}
.forms form #div-name {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.forms form #div-num {
  display: grid;
  grid-template-columns: 50px 50px 1fr;
}

/*# sourceMappingURL=connexions.css.map */
