@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,700;1,100&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
  word-break: break-all;
}

/* margin de la page
    ____________
    | ________ |
    |m|      |m|
    | |______| |
    |__________|
*/
.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 14px;
  color: #888;
}
.copyright a {
  color: #aaa;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 30px;
  padding: 50px 8vw;
  background: rgb(0, 11, 28);
}
footer li {
  list-style-type: none;
  color: #fff;
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer .titre {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .informations img {
  margin-right: 5px;
}
footer .informations li {
  margin-bottom: 5px;
}
footer .resaux {
  display: grid;
  grid-template-columns: repeat(4, 31px);
  grid-template-rows: 31px;
  gap: 10px;
  justify-content: flex-start;
}
footer .resaux .titre {
  grid-column: 1/span 4;
}
footer .link-abonne {
  height: 45px;
}
footer button {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  width: 100%;
}

.link-abonne {
  z-index: 100;
}

button.abonner {
  background: rgb(186, 2, 2);
  color: #aaa;
}
button.abonner:hover {
  color: #fff;
  background: rgb(237, 0, 0);
}
button.abonner.active {
  background: rgb(104, 104, 104);
  color: rgb(221, 221, 221);
  font-weight: bold;
}
button.abonner.active:hover {
  background: rgb(133, 133, 133);
}

.shadow-add-user {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.632);
  z-index: 2000;
  display: none;
}
.shadow-add-user.active {
  display: block;
}

.add-user {
  position: fixed;
  max-width: 80%;
  min-width: 320px;
  width: 100%;
  height: 80%;
  padding: 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(83, 83, 83, 0.596);
  z-index: 2100;
  display: none;
}
.add-user.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-user .create-count {
  width: 300px;
  min-height: 200px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 40px;
  gap: 10px;
}
.add-user .create-count .icone-add-user {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(10, 194, 10);
  color: #fff;
  transition: 0.5s;
}
.add-user .create-count button:hover {
  background: rgb(4, 133, 4);
  font-weight: bold;
}
.add-user .create-count .icone-user {
  width: 100px;
  height: 100px;
  background: #232227;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .create-count .icone-user img {
  width: 60%;
}
.add-user h2 {
  text-align: center;
  color: #232227;
}
.add-user > p {
  color: #555;
}
.add-user .close-add-user {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(172, 33, 33);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-user .close-add-user img {
  width: 90%;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 300;
  padding: 0 8vw;
  background: #232227;
  grid-column: 1/span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .bar-menu {
  display: none;
  position: fixed;
  background: #232227;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 3px 3px #000;
  transition: 0.4s;
  z-index: 200000;
}
.navigation .bar-menu .burger {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  z-index: 2000;
}
.navigation .bar-menu .burger::after {
  transform: translateY(-8.5px) rotate(-45deg);
}
.navigation .bar-menu .burger::before {
  transform: translateY(8.5px) rotate(45deg);
}
.navigation .bar-menu.active {
  transform: translateX(0);
}
.navigation .bar-menu .menu-bar {
  padding: 30px 10px 10px 10px;
}
.navigation .bar-menu .menu-bar a {
  text-decoration: none;
  color: #fff;
}
.navigation .bar-menu .menu-bar li {
  position: relative;
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 2px;
  list-style: none;
  color: #fff;
  transition: 0.5s;
}
.navigation .bar-menu .menu-bar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.navigation .bar-menu .menu-bar li:hover {
  background: rgba(0, 0, 0, 0.411);
  font-weight: bold;
}
.navigation .bar-menu .user-bar-menu {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 50px;
  min-height: 200px;
}
.navigation .bar-menu .user-bar-menu::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: #aaa;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .bar-menu .user-bar-menu #deconnecter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/span 2;
}
.navigation .bar-menu .user-bar-menu #deconnecter button {
  min-width: 120px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  background: rgb(131, 216, 4);
}
.navigation .bar-menu .user-bar-menu #isconnected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/span 2;
}
.navigation .bar-menu .user-bar-menu #isconnected .info {
  font-size: 15px;
  color: #fff;
}
.navigation .bar-menu .user-bar-menu #isconnected .mail {
  color: #aaa;
  margin-bottom: 30px;
}
.navigation .bar-menu .user-bar-menu #isconnected button {
  padding: 10px 20px;
  min-width: 230px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
.navigation .bar-menu .user-bar-menu #isconnected .m {
  background: rgb(131, 216, 4);
  margin-bottom: 8px;
}
.navigation .bar-menu .user-bar-menu #isconnected .d {
  background: rgba(180, 1, 1, 0.827);
}
.navigation .bar-menu .user-bar-menu #isconnected .img-user {
  width: 70px;
  height: 70px;
  border: solid 4px #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.647);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.navigation .bar-menu .user-bar-menu #isconnected .img-user img {
  width: 100%;
  height: 100%;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee {
  position: relative;
  width: 117px;
  height: 43px;
  display: grid;
  grid-template-columns: 122px 1fr;
  margin: 10px auto;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee .btn-abonne {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  z-index: 10;
}
.navigation .bar-menu .user-bar-menu .btns-abonnee .nbr-abonnee {
  border: none;
  outline: none;
  background: #dcdcdc;
  color: #9e9e9e;
  border-radius: 4px;
  transform: translateX(-4px);
  padding: 0 8px;
}
.navigation .burger {
  position: relative;
  display: none;
  width: 40px;
  height: 22px;
  cursor: pointer;
}
.navigation .burger::after, .navigation .burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  left: 0;
  background: #fff;
}
.navigation .burger::before {
  top: 0;
}
.navigation .burger::after {
  bottom: 0;
}
.navigation .burger div {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  background: #fff;
}
.navigation .logo {
  width: 70px;
  height: 70px;
}
.navigation .logo img {
  width: 100%;
  height: 100%;
}
.navigation .menu {
  display: flex;
}
.navigation .menu li {
  position: relative;
  list-style-type: none;
  margin: 0 10px;
  padding: 10px 0;
}
.navigation .menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.3s;
}
.navigation .menu li:hover::after {
  width: 100%;
}
.navigation .menu li.active::after {
  width: 100%;
}
.navigation .menu li a {
  text-decoration: none;
  color: #fff;
}
.navigation .abonnees {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .abonnees .btns-abonnee {
  position: relative;
  min-width: 117px;
  height: 43px;
  display: grid;
  grid-template-columns: 122px 1fr;
}
.navigation .abonnees .btns-abonnee .btn-abonne {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  z-index: 10;
}
.navigation .abonnees .btns-abonnee .nbr-abonnee {
  border: none;
  outline: none;
  background: #dcdcdc;
  color: #9e9e9e;
  border-radius: 4px;
  transform: translateX(-4px);
  padding: 0 8px;
}
.navigation .users {
  position: relative;
}
.navigation .users .not-connected {
  position: relative;
}
.navigation .users .not-connected::after {
  content: "!";
  position: absolute;
  padding: 2.5px 5px;
  background: red;
  color: #fff;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  border-radius: 40%;
  transform: translate(30%, 30%);
}
.navigation .users .is-connted {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 4px gold;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation .users .is-connted img {
  width: 55px;
  height: 55px;
}
.navigation .users .userConnected {
  transform: scale(0);
  transition: 0.5s;
}
.navigation .users .userConnected > div {
  position: absolute;
  background: #fff;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .users .userConnected > div button {
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.navigation .users .userConnected #user_1 p {
  color: #555;
  padding: 4px 0;
  text-align: center;
}
.navigation .users .userConnected #user_1 button {
  width: 100%;
  padding: 8px 0;
  color: red;
  text-decoration: underline;
}
.navigation .users .userConnected #user_2 button {
  color: #555;
  transition: 0.5s;
}
.navigation .users .userConnected #user_2 button:hover {
  color: royalblue;
}
.navigation .users:hover .userConnected {
  transform: scale(1);
}

@media screen and (max-width: 1160px) {
  .navigation .menu {
    display: none;
  }
  .navigation .abonnees {
    display: none;
  }
  .navigation .burger {
    display: block;
  }
  .navigation .bar-menu {
    display: block;
    z-index: 1000;
  }
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  transform: scale(0);
  z-index: 1300;
  transition: 0.3s;
}
.shadow.active {
  transform: scale(1);
}

.panier {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90vw;
  height: 90vh;
  background: #fff;
  z-index: 1000;
  padding: 8px;
  display: grid;
  grid-template-rows: 40px 30px 1fr 50px;
  gap: 10px;
  transition: 0.3s;
  z-index: 1500;
}
.panier.active {
  transform: translate(-50%, -50%) scale(1);
}
.panier .contener-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 10px;
  overflow-y: scroll;
}
.panier .contener-articles .article {
  position: relative;
  height: 400px;
  background: #fff;
  padding: 10px;
  border: solid 2px rgba(127, 125, 125, 0.648);
  overflow: hidden;
}
.panier .contener-articles .article img {
  width: 90%;
  margin: auto;
  display: block;
}
.panier .contener-articles .article .details {
  position: absolute;
  width: 80%;
  height: 35%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.panier .contener-articles .article .details .titre {
  text-transform: uppercase;
  font-weight: bold;
  background: #232227;
  padding: 5px 13px;
  color: #fff;
  letter-spacing: 7px;
}
.panier .contener-articles .article .details .prix {
  color: rgb(12, 156, 12);
}
.panier .contener-articles .article .details .ajouter-produit {
  display: grid;
  grid-template-columns: 50px 70px 50px;
  gap: 15px;
  margin-top: 10px;
}
.panier .contener-articles .article .details .ajouter-produit p {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.panier .contener-articles .article .details .ajouter-produit .nombre {
  color: rgb(12, 156, 12);
  font-size: 1.2em;
}
.panier .contener-articles .article .details .ajouter-produit .action {
  user-select: none;
  font-size: 1.3em;
  color: #555;
  background: #fff;
  border: solid 1px #555;
  cursor: pointer;
  transition: 0.5s;
}
.panier .contener-articles .article .details .ajouter-produit .action:hover {
  background: rgb(12, 156, 12);
  font-weight: bold;
  color: #fff;
  border: none;
}
.panier h2 {
  text-align: center;
  font-size: 2em;
  color: #232227;
  letter-spacing: 4px;
}
.panier .btns_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panier .btns_action button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #555;
  background: #aaa;
  cursor: pointer;
  transition: 0.5s;
}
.panier .btns_action button:hover {
  background: #232227;
  color: #fff;
  font-weight: bold;
}
.panier .btns_action .res {
  margin-right: 10px;
}

.close {
  position: fixed;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 50%);
  right: 0;
  top: 0;
}
.close img {
  width: 100%;
}

.open {
  position: relative;
  position: fixed;
  width: 70px;
  height: 70px;
  background: #232227;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 3vw;
  bottom: 3vw;
  box-shadow: 0 0 3px 1px #888;
  z-index: 600;
}
.open img {
  width: 50%;
}

.caisse p {
  display: inline-block;
  margin-right: 20px;
  color: #aaa;
}
.caisse p span {
  color: red;
}

.quant.btn-add {
  position: absolute;
  padding: 5px 10px;
  background: red;
  color: #fff;
  font-weight: bold;
  top: 0;
  right: 0;
  border-radius: 40%;
  transform: translate(25%, -25%);
}

.delete {
  cursor: pointer;
}

header {
  position: relative;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.645);
  background-repeat: no-repeat;
  background-position-x: -300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  margin-top: 75px;
  gap: 50px;
}
header > .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sous-titre {
  position: relative;
  display: inline-block;
  font-size: 2em;
  padding: 5px 0;
  color: #8f8f8f;
  text-transform: uppercase;
}
.sous-titre::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #8f8f8f;
}

.textes {
  padding-left: 8vw;
  display: flex;
  align-items: center;
}
.textes h1 {
  color: #fff;
  font-size: 2.5em;
  word-break: normal !important;
}
.textes h1 span {
  font-size: 1.5em;
  word-break: normal !important;
}
.textes p {
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
}
.textes button {
  margin-top: 20px;
}
.textes .btn-article {
  min-width: 140px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: orange;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
  margin-right: 15px;
}
.textes .btn-abone {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: none;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.image .header-article {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image .header-article .titre-article {
  width: 200px;
  height: 50px;
  background: orange;
  color: rgb(2, 14, 67);
  left: 50%;
  top: 0;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.image .header-article > div {
  position: absolute;
  background: rosybrown;
}
.image .header-article img {
  width: 100%;
  max-width: 300px;
}
.image .header-article .content-prix {
  bottom: 60px;
  width: 200px;
  height: 50px;
  background: orange;
  border-radius: 12% 10% 10% 12%/56% 44% 52% 44%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image .header-article .content-prix p {
  width: 190px;
  height: 40px;
  text-transform: uppercase;
  color: rgb(2, 14, 67);
  font-weight: bold;
  background: #fff;
  border-radius: 12% 10% 10% 12%/56% 44% 52% 44%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 2px rgba(35, 34, 34, 0.205);
}
.image .header-article .contener-add-panier {
  width: 60px;
  height: 60px;
  bottom: 30px;
  transform: translateY(50%);
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgba(24, 24, 24, 0.51);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image .header-article .contener-add-panier .add-panier {
  width: 45px;
  height: 45px;
  background: rgb(2, 14, 67);
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  user-select: none;
  font-weight: bold;
  box-shadow: 0 0 3px 2px rgba(13, 13, 13, 0.315);
}

main {
  width: 100%;
  margin: 40px 0;
}

.articles h2 {
  margin-left: 8vw;
}
.articles .contener-articles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
  padding: 0 8vw;
  margin-top: 40px;
}
.articles .contener-articles .carte-article {
  position: relative;
  width: 300px;
  height: 460px;
  background: #fff;
  box-shadow: 0 0 4px 1px #ddd;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 370px 1fr;
}
.articles .contener-articles .carte-article .img-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 370px;
}
.articles .contener-articles .carte-article .img-article img {
  width: 90%;
}
.articles .contener-articles .carte-article p {
  text-align: center;
}
.articles .contener-articles .carte-article .titre-article {
  font-size: 1.3em;
  color: #aaa;
}
.articles .contener-articles .carte-article .prix {
  margin-top: 10px;
  font-size: 1.2em;
}
.articles .contener-articles .carte-article:hover .contener_add_panier {
  transform: translateY(50%);
  opacity: 1;
}
.articles .contener-articles .carte-article:hover .contener_add_panier::after {
  width: 70%;
}
.articles .contener-articles .carte-article .contener_add_panier {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.articles .contener-articles .carte-article .contener_add_panier::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #232227;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.articles .contener-articles .carte-article .contener_add_panier .add_panier {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #232227;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 10;
}

.liens-plus {
  margin: 50px 0;
  text-align: center;
}
.liens-plus a {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  color: #555;
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.liens-plus a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  background: #555;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.liens-plus a:hover {
  color: #232227;
}
.liens-plus a:hover::after {
  background: #232227;
  width: 100%;
}

.services {
  width: 100%;
  background: #f5f5f5;
  padding: 0 8vw;
}
.services h2 {
  margin-top: 30px;
}
.services .contener-services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}
.services .contener-services .service {
  width: 280px;
  min-height: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.services .contener-services .service .icone-sevice {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .contener-services .service .icone-sevice .icone {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 3px #707070;
  border-radius: 50%;
  overflow: hidden;
}
.services .contener-services .service .icone-sevice .icone img {
  width: 80%;
}
.services .contener-services .service .icone-sevice p {
  text-align: center;
  text-transform: uppercase;
  color: #555;
  margin-top: 10px;
}
.services .contener-services .service .description-service {
  color: #333;
  text-align: center;
}
.services .contener-services .service button {
  min-width: 122px;
  height: 43px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: orange;
  outline: none;
  padding: 0 15px;
  cursor: pointer;
}

@media screen and (max-width: 1160px) {
  header .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  header {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    height: 900px;
  }
  header > .background {
    width: auto;
    height: 100%;
  }
  header .textes {
    max-width: 500px;
  }
  header .image {
    max-width: 400px;
  }
}
@media screen and (max-width: 690px) {
  header > .background {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  header .textes h1 {
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
