    .contener-articles {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        gap: 20px;
        padding: 0 $margin-page;
        margin-top: 40px;

        .carte-article {
            position: relative;
            width: 300px;
            height: 460px;
            background: #fff;
            box-shadow: 0 0 4px 1px #ddd;
            border-radius: 5px;
            display: grid;
            grid-template-rows: 370px 1fr;
            
            .img-article {
                @include flex-center;
                overflow: hidden;
                width: 100%;
                height: 370px;

                img {
                    width: 90%;
                }
            }

            p {
                text-align: center;
            }

            .titre-article {
                font-size: 1.3em;
                color: #aaa;
            }

            .prix {
                margin-top: 10px;
                font-size: 1.2em;
            }

            &:hover {
                .contener_add_panier {
                    transform: translateY(50%);
                    opacity: 1;

                    &::after {
                        width: 70%;
                    }
                }
            }

            .contener_add_panier {
                position: absolute;
                width: 100%;
                height: 40px;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                @include flex-center;
                opacity: 0;
                transition: .5s;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: $main-color;
                    left: 50%;
                    top: 50%;
                    border-radius: 4px;
                    transform: translate(-50%, -50%);
                    transition: .5s;
                }

                .add_panier {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $main-color;
                    color: #fff;
                    cursor: pointer;
                    font-size: 2em;
                    font-weight: bold;
                    @include flex-center;
                    user-select: none;
                    z-index: 10;
                }
            }

        }
    }