// start footer

.copyright{
    width: 100%;
    height: 50px;
    @include flex-center;
    // background: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 14px;
    color: #888;
    a{
        color: #aaa;
    }
}
footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px;
    padding: 50px $margin-page;
    background: $footer-color;
    li {
        list-style-type: none;
        color: #fff;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .titre {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .informations {
        img {
            margin-right: 5px;
        }

        li {
            margin-bottom: 5px;
        }
    }

    .resaux {
        display: grid;
        grid-template-columns: repeat(4, 31px);
        grid-template-rows: 31px;
        gap: 10px;
        justify-content: flex-start;

        .titre {
            grid-column: 1 / span 4;
        }
    }
    .link-abonne{
        height: 45px;
    }
    button {
        @include button-style($bgd : none);
        width: 100%;
    }
}

// end footer