@import './components/import.scss';
@import './components/navigation.scss';

header{
    @include style-header(#000000c6,400px);
    .contente{
        grid-column: 1 / span 2;
        @include flex-center;
        h1{
            text-align: center;
            color: #fff;
            font-size: 3em;
        }
    }
}
.body{
    height: 400px;
    @include flex-center;
    h2{
        color: #aaa;
        font-size: 3em;
        font-family: sans-serif;
        text-align: center;
    }
}

@media screen and (max-width:880px) {
    header .background{
        width: auto;
        height: 100%;
        left : 50%;
        transform: translateX(-50%);
    }
}