@import "./components/import.scss";
@import './components/navigation.scss';

header {
    @include style-header($main-color,300px);
    .contente{
        grid-column: 1 / span 2;
        @include flex-center;
        padding: 0 20px;
        h1{
            color: #fff;
            font-size: 3em;
            text-align: center;
        }
    }
}
.titre-h2{
    text-align: center;
    margin-top: 50px;
    font-size: 2.2em;
    color: #555;
}
.body{
    width: 100%;
    height: 600px;
    @include flex-center($direction : column);
    .status{
        display: none;
        width: 100%;
        max-width: 800px;
        height: 50px;
        border-radius: 4px;
        color: #fff;
        &.active{
            @include flex-center;
        }
        &.succes{
            background: rgba(0, 128, 0, 0.626);
        }
        &.error{
            background: rgba(255, 0, 0, 0.626);
        }
    }
    form{ 
        width: 100%;
        max-width: 800px;
        min-height: 390px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px 50px;
        padding: 10px;
        gap: 14px;
        // background: orange;
        #message,input,button{
            border: none;
            outline: none;
            border-radius: 5px;
        }
        button{
            grid-column: 1 / span 2;
            width: 300px;
            justify-self: center;
            background: rgb(7, 151, 7);
            color: #ffff;
            font-weight: bold;
        }
        #message,input{
            border: solid 1px #555;
            color: #444;
        }
        #message{
            grid-column: 1 / span 2;
            resize: none;
            padding: 7px;
        }
        .inputs{
            grid-column: 1 / span 2;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            label{
                color: rgb(198, 58, 58);
                font-weight: bold;
                margin-top: 10px;
            }
            .input{
              display: grid;
              grid-template-rows: 30px 1fr;
              gap: 10px;
              input{
                height: 55px;
                padding: 0 5px;
              }
           }
        }
        
    }
}