@font-face {
    font-family: 'titre-h1';
    src: url('../../fonts/lineto-brown-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'titre-h2';
    src: url('../../fonts/lineto-brown-light.woff2') format('woff2');
}

@font-face {
    font-family: 'para';
    src: url('../../fonts/lineto-brown-regular.woff2') format('woff2');
}