@mixin flex-center($direction : row, $content : center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: center;
}

@mixin shadow($size : 3px, $alpha : .3) {
    box-shadow: 0 0 calc($size / 2) $size rgba(0, 0, 0, $alpha);
}

@mixin button-style {
    padding: 15px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    background: purple;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin before ($color : #fff, $width : 100%) {
    &::after {
        content: "";
        position: absolute;
        width: $width;
        height: 4px;
        border-radius: 4px;
        background: $color;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
    }
}

@mixin border-radius($radius : 10px) {
    border-radius: $radius $radius 0 0;
}