@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,700;1,100&display=swap');
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates';
}
$main-color : #232227;
body{
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div{
        position: relative;
        width: 100%;
        max-width: 600px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 
.contener{
    .contener-animation{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .texte{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 20px;
            h2{
                color: #fff;
                font-size: 1.3em;
            }
            & > * {
                margin-bottom: 20px;
            }
            a{
                font-size: 12px;
                color: #aaa;
                &:hover{
                    color: royalblue;
                }
            }
        }
        .animation{
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 200px;
            overflow: hidden;
            &.reservation{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            // page d'erreur
            .error{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 100%;
                }
            }
            .box{
                position: relative;
                // background: purple;
                height: 100%;
                display: inline-block;
                img{
                    height: 100%;
                }
                .hour{
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: solid 3.4px #fff;
                    left: 63%;
                    background: $main-color;
                    animation: rotate .8s linear infinite;
                    span{
                        position: absolute;
                        display: inline-block;
                        width: 3px;
                        height: 50%;
                        left: 50%;
                        top: 30%;
                        border-radius: 5px;
                        transform: translate(-50%,-50%);
                        background: #fff;
                    }
                }
            }
            // animation caminion
            .paysage{
                position: absolute;
                width: 300%;
                height: 100%;
                border-bottom: solid 3px #888;
                animation: route 2s linear infinite;
                z-index: 300;
                .pierre{
                    position: absolute;
                    width: 20px;
                    height: 6px;
                    border: solid 3px #888;
                    bottom: -3px;
                    &.p1{
                        left: 35%;
                    }
                    &.p2{
                        left: 50%;
                    }
                    &.p3{
                        left: 62%;
                    }
                }
            }
            .truck{
                position: absolute;
                bottom: 0;
                left: 30px;
                width: 100px;
                .roues{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    bottom: 4.3px;
                    border-radius: 50%;
                    background: $main-color;
                    z-index: 100;
                    animation: rotate .5s linear infinite;
                    &::after,&::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &::after{
                        transform: translate(-50%,-50%) rotate(90deg);
                    }
                    &.r1{
                        left: 75.3px;
                    }
                    &.r2{
                        left: 32.9px;
                    }
                    &.r3{
                        left: 5px;
                    }
                }
                img{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
                
            }
            // fin animation caminion
        }
    }
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes route{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-68%);
    }
}