// police d'ecriture
$font-h1 : "titre-h1";
$font-h2 : "titre-h2";
$font-para : "para";

/* margin de la page
    ____________
    | ________ |
    |m|      |m|
    | |______| |
    |__________|
*/
$margin-page : 10vw;

// alpha color
$alpha : rgba(0, 0, 0, .3);