<div class="shadow-add-user"></div>
<div class="add-user">
    <div class="close-add-user">
        <img src="../images/svg/fermerFFF.svg" alt="">
    </div>
    <h2>AJOUTER UN COMPTE</h2>
    <div class="create-count">
        <div class="icone-add-user">
            <div class="icone-user">
                <img src="../images/svg/Add_User.svg" alt="">
            </div>
        </div>
        <a href="/connexion_connexion"><button>Se connecter</button></a>
        <a href="/connexion_cree_compte"><button>Cree un compte</button></a>
    </div>
</div>