<footer>
    <ul class="menu">
        <li class="titre">Navigation</li>
        <li><a href="/home">Accueil</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">Qui somme nous ?</a></li>
        <li><a href="/contacte">Contactez nous</a></li>
    </ul>
    <ul class="informations">
        <li class="titre">informations</li>
        <li><img src="images/svg/phone.svg" alt="">+241 0000000</li>
        <li><img src="images/svg/mail.svg" alt="">people@gmail.com</li>
        <li><img src="images/svg/local.svg" alt="">Gabon</li>
    </ul>
    <ul class="resaux">
        <li class="titre">Suivez nous !</li>
        <li><img src="../images/svg/fbk.svg" alt=""></li>
        <li><img src="../images/svg/fbk.svg" alt=""></li>
        <li><img src="../images/svg/fbk.svg" alt=""></li>
        <li><img src="../images/svg/fbk.svg" alt=""></li>
    </ul>
    <ul class="compte">
        <li class="titre">Compte</li>
        <% if (user) { %>
            <li><a href="/deconnexion">deconnexion</a></li>
        <% } else {%>
            <li><a href="/connexion_cree_compte">Cree un compte</a></li>
            <li><a href="/connexion_connexion">se connecter</a></li>
        <% } %> 
    </ul>
    <% if (li == false) { %>
      <div></div>
    <% } else {%>
        <a href="/abonne/<%= user ? user.id : "null" %> /<%= user ? user.isabonne : "null" %> /<%= url %> " class="link-abonne">
            <% if (user?.isabonne == 1) { %>
                <button class="btn-abone abonner active">Déjà abonner</button>
               <% } else {%>
                   <button class="btn-abone abonner">Abonnez-vous !</button>
            <% } %> 
    <% } %> 
    </a>
    <div class="copyright">
        <p>fait par waly le dev <a href="https://walyledev.netlify.app/" target="_blank">lien portfolio</a></p>
    </div>
</footer>