<nav class="navigation">
    <div class="logo"></div>
    <ul class="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Qui somme nous ?</a></li>
        <li><a href="#">Contactez nous</a></li>
    </ul>
    <div class="abonnees">
        <a href="#"><img src="images/svg/user.svg" alt="icone utilisateur"></a>

        <button class="reche"><img src="images/svg/rech.svg" alt="svg de revherche"></button>
        <div class="btns-abonnee">
            <button class="btn-abonne">S'abonnee</button>
            <button class="nbr-abonnee">1,5k</button>
        </div>
    </div>
</nav>