<div class="shadow"></div>
<div class="panier">
    <div class="display-panier close"><img src="../images/svg/fermer.svg" alt=""></div>

    <div class="header-panier">
        <h2>PANIER</h2>
    </div>
    <p class="quantiter">Nombre d'articles : 8</p>
    <!-- contener article du panier -->
    <div class="contener-articles paniers">
    </div>
    <!-- fin contener article du panier -->
    <div class="btns_action">
        <div class="delete">
            <img src="../images/svg/poubelle.svg" alt="suprimer tout">
        </div>
        <div class="btns">
            <a href="/action/reservation"><button class="res">Reservation</button></a>
            <a href="/action/livraison"><button>Livraison</button></a>
        </div>
    </div>
</div>

<div class="display-panier open">
    <img src="../../images/svg/panier.svg" alt="icone panier">
</div>