<div class="shadow"></div>
<div class="panier">
    <div class="display-panier close"><img src="../images/svg/fermer.svg" alt=""></div>

    <div class="header-panier">
        <h2>PANIER</h2>
    </div>
    <div class="caisse">
        <p class="quantiter">Nombre d'articles : <span class="quant">0</span></p>
        <p class="prix">Prix total : <span class="prix_panier">0F</span></p>
    </div>
    <!-- contener article du panier -->
    <div class="contener-articles paniers">
    </div>
    <!-- fin contener article du panier -->
    <div class="btns_action">
        <div class="delete">
            <img src="../images/svg/poubelle.svg" alt="suprimer tout">
        </div>
        <div class="btns">
           <a href="/action/reservation"><button class="res put-article-to-panier">Reservation</button></a> 
            <a href="/action/livraison"><button class="put-article-to-panier">Livraison</button></a> 
        </div>
    </div>
</div>

<div class="display-panier open">
    <span class="quant btn-add">0</span>
    <img src="../../images/svg/panier.svg" alt="icone panier">
</div>