<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo/ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/css/blog.css">
    <title>blog</title>
</head>
<body>
    <header>
        <%- include("./components/navigation") %>
        <img src="../images/background/blog.jpg" class="background">
            <div class="contente">
                <h1>Blog</h1>
            </div>
    </header>
    <!-- end div texte -->
    <%- include('./components/addUser') %>
    <!-- div image -->
    <main class="body">
        <h2>Pas d'articles pour le moment :(</h2>
    </main>
    <%- include("./components/footer") %>
    <%- include('./components/scripts') %>
</body>
</html>