<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/boutique.css">
    <title>boutique</title>
</head>

<body>
    <header>
        <%- include("./components/navigation") %>
            <div class="titre-b">
                <h1>BOUTIQUE</h1>
            </div>
    </header>
    <section class="articles">
        <div id="recherche">
            <select name="categories" id="categories">
                <option value="tout">Tout</option>
                <option value="vetements">Vetement</option>
                <option value="electronique">electronique</option>
            </select>
            <form action="#">
                <input type="search" name="search" id="search" placeholder="recherche...">
                <button type="submit">
                    <img src="../images/svg/rech.svg" alt="">
                </button>
            </form>
        </div>
        <div class="contener-articles">
            <% for (let i=0; i < res.length; i++){ %>
                <div class="carte-article">
                    <div class="img-article">
                        <img src="images/haut.png" alt="">
                    </div>
                    <div class="info-article">
                        <p class="titre-article">
                            <%= res[i].titre %>
                        </p>
                        <p class="prix">
                            <%= res[i].prix %>F
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <%- include('./components/footer') %>
</body>

</html>