<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/compte.css">
    <title>Pierre</title>
</head>

<body>
    <%- include("./components/navigation") %>
        <div class="compte-user">
            <div id="user-details">
                <div class="users">
                    <div class="img-user"></div>
                    <p class="name">Rene</p>
                    <p class="fullname">Eurodite janne</p>
                    <p class="mail">rene@gmail.com</p>
                    <p class="numero">Aucun numero</p>
                </div>
            </div>
            <div id="setdatas">
                <form action="#" class="f_1">
                    <button class="add_input" type="button">Modifier ma photo de profil</button>
                    <div class="display" data-display="1">
                        <input type="file" name="image" id="image" placeholder="images">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
                <form action="#" class="f_2">
                    <button class="add_input" type="button">Modifier mon nom</button>
                    <div class="display" data-display="2">
                        <input type="text" name="setdata" id="setdata" placeholder="Nouveau mot de nom">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
                <form action="#" class="f_3">
                    <button class="add_input" type="button">Modifier mon mot de passe</button>
                    <div class="display" data-display="3">
                        <input type="text" name="setdata" id="setdata" placeholder="Nouveau mot de passe">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
                <form action="#" class="f_4">
                    <button class="add_input" type="button">Modifier mon mot de passe</button>
                    <div class="display" data-display="4">
                        <input type="text" name="setdata" id="setdata" placeholder="Nouveau mot de passe">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
                <form action="#" class="f_5">
                    <button class="add_input" type="button">Modifier mon mot de passe</button>
                    <div class="display" data-display="5">
                        <input type="text" name="setdata" id="setdata" placeholder="Nouveau mot de passe">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
                <form action="#" class="f_6">
                    <button class="add_input" type="button">Modifier mon mot de passe</button>
                    <div class="display" data-display="6">
                        <input type="text" name="setdata" id="setdata" placeholder="Nouveau mot de passe">
                        <button type="submit">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('./components/footer') %>
            <script src="../js/animations.js"></script>
</body>

</html>