<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/service.css">
    <title>services</title>
</head>
<body>
    <header>
        <%- include("./components/navigation") %>
        <img src="../images/background/servive.png" class="background">
            <div class="contente">
                <h1>Services</h1>
            </div>
    </header>
    <%- include('./components/addUser') %>
    <main class="body">
        <h2 class="titre-h2-service">Nos services</h2>
        <div class="contente-sevices">
            <!-- start sevices -->
            <div class="service">
                <div class="img-service">
                    <div class="img">
                        <img src="../images/svg/livraison-1.svg">
                    </div>
                    <p class="titre-service">LIVRAISON</p>
                </div>
                <div class="desc-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui, laboriosam dolore sunt nobis eum libero. Cupiditate necessitatibus, voluptas consequatur eaque velit sit modi tenetur consectetur, earum facilis vero quisquam. Modi voluptates maxime dolores. Accusamus cupiditate expedita laboriosam quaerat assumenda.
                    </p>
                </div>
            </div>
            <!-- end service -->
             <!-- start sevices -->
             <div class="service">
                <div class="img-service">
                    <div class="img">
                        <img src="../images/svg/livraison-1.svg">
                    </div>
                    <p class="titre-service">LIVRAISON</p>
                </div>
                <div class="desc-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui, laboriosam dolore sunt nobis eum libero. Cupiditate necessitatibus, voluptas consequatur eaque velit sit modi tenetur consectetur, earum facilis vero quisquam. Modi voluptates maxime dolores. Accusamus cupiditate expedita laboriosam quaerat assumenda.
                    </p>
                </div>
            </div>
            <!-- end service -->
             <!-- start sevices -->
             <div class="service">
                <div class="img-service">
                    <div class="img">
                        <img src="../images/svg/livraison-1.svg">
                    </div>
                    <p class="titre-service">LIVRAISON</p>
                </div>
                <div class="desc-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui, laboriosam dolore sunt nobis eum libero. Cupiditate necessitatibus, voluptas consequatur eaque velit sit modi tenetur consectetur, earum facilis vero quisquam. Modi voluptates maxime dolores. Accusamus cupiditate expedita laboriosam quaerat assumenda.
                    </p>
                </div>
            </div>
            <!-- end service -->
             <!-- start sevices -->
             <div class="service">
                <div class="img-service">
                    <div class="img">
                        <img src="../images/svg/livraison-1.svg">
                    </div>
                    <p class="titre-service">LIVRAISON</p>
                </div>
                <div class="desc-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui, laboriosam dolore sunt nobis eum libero. Cupiditate necessitatibus, voluptas consequatur eaque velit sit modi tenetur consectetur, earum facilis vero quisquam. Modi voluptates maxime dolores. Accusamus cupiditate expedita laboriosam quaerat assumenda.
                    </p>
                </div>
            </div>
            <!-- end service -->
        </div>
    </main>
    <%- include("./components/footer") %>
    <%- include('./components/scripts') %>
</body>
</html>