<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo/ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/css/status-commande.css">
    <title><%= status %> </title>
</head>
<body>
    <% if (status == "succes") { %> 
       <% if (commande == "livraison") { %>
           <div class="contener">

            <div class="contener-animation">

                <div class="animation">
                    <div class="truck">
                        <div class="roues r1"></div>
                        <div class="roues r2"></div>
                        <div class="roues r3"></div>
                        <div class="logo"></div>
                        <img src="../images/svg/truck.svg">
                    </div>
                    <div class="paysage">
                        <div class="pierre p1"></div>
                        <div class="pierre p2"></div>
                        <div class="pierre p3"></div>
                    </div>
                </div>
                <div class="texte">
                    <h2>Nous avons bien reçu votre demande de <%= commande %>,nous vous contacterons d'ici peut... merci</h2>
                    <a href="/">
                        <p>Retour a l'acceuil</p>
                    </a>
                    <a href="/boutique">
                        <p>Aller dans la boutique</p>
                    </a>
                </div>

            </div>

           </div>
       <% } else { %>
           <div class="contener">
            <div class="contener-animation">

                <div class="animation reservation">
                   <div class="box">
                    <div class="hour"><span></span></div>
                    <img src="../images/svg/reservation-anime.svg">
                   </div>
                </div>
                <div class="texte">
                    <h2>Nous avons bien reçu votre demande de <%= commande %>,nous vous contacterons d'ici peu... merci</h2>
                    <a href="/">
                        <p>Retour a l'acceuil</p>
                    </a>
                    <a href="/boutique">
                        <p>Aller dans la boutique</p>
                    </a>
                </div>

            </div> 
           </div>
       <% } %>
    <% } else { %>
        <div class="contener">
            <div class="contener-animation">

                <div class="animation">
                   <div class="error">
                    <img src="../images/svg/error.svg">
                   </div>
                </div>
                <div class="texte">
                    <h2>
                        Erreur lors de l'envoi de la demande
                    </h2>
                    <a href="/action/<%= commande %>">
                      <p>cliquez ici pour réessayer</p>
                    </a>
                    <a href="/">
                        <p>Retour a l'acceuil</p>
                    </a>
                    <a href="/boutique">
                        <p>Aller dans la boutique</p>
                    </a>
                </div>

            </div> 
           </div>
    <% } %> 
</body>
</html>