<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin connexion</title>
    <link rel="stylesheet" href="../css_admin/connexions_admin.css">
</head>

<body>
    <div class="contener">
        <h1>Interface Admin</h1>
        <div class="logo">
            <img src="../images/logo/logo.png" alt="logo">
        </div>
        <div class="error <%= error %>"><%= texte %> </div>
        <form action="/admin-login" method="post">
            <input type="text" name="nom" id="name" placeholder="Nom">
            <input type="password" name="password" id="password" placeholder="Mot de passe">
            <button type="submit">connexion</button>
        </form>
    </div>
</body>

</html>